.hero-section {
    background: url('img/2.jpg') no-repeat center center;
    background-size: cover;
    padding: 80px 0;
  }
  
  .vision-analysis h3, .data-insights h3, .gallery h2 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .gallery .card {
    margin-bottom: 30px;
  }
  
  .footer {
    background-color: #87ceeb;
    color: #333;
  }
  